.custom-font{
  font-family: 'Montserrat', sans-serif!important;
}
body{
    font-family: 'Montserrat', sans-serif!important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif!important;
}
.navbar .navbar-brand img{
  height: 75px;
  margin-top: -15px;
}
.things-todo ul li img {
  height: 50px;
  float: left;
  margin-right: 5px;
}
.things-todo ul li {
  font-weight: 400;
  width: 100%;
  float: left;
  line-height: 37px;
  font-size: 16px;
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #dee0e2;
  list-style: none;
  color: #393c3f;
}
.announcements .review:before {
  display: none;
}
.things-todo{
padding: 40px 0;
}
.welcome-intro{
padding: 40px 0;
}
.reviews{
padding: 40px 0;
}
.tiss-in-news .section-title{
margin-bottom: 40px;
margin-top: 40px;
}
.find-adventure{
padding: 40px 0;
}
.popular-tours{
padding: 40px 0;
}
.adventure-activities{
padding: 40px 0;
}
.tours-list{
padding: 40px 0;
}
.recent-blog{
padding: 40px 0;
}
.find-adventure h3{
  font-size: 40px;
}
.header-denmark .swiper-pagination-bullet{
font-weight: 700;
padding-bottom: 0!important;
padding-left: 5px!important;
}
.header-denmark .swiper-slide h2{
font-size: 42px;
}
.my-font{
font-weight: 400!important;
font-size: 15px!important;
}
.footer{
padding: 40px 0;
}
.navbar {
  width: 100%;
  float: left;
  display: block;
  padding: 20px 10px;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.p-0{
padding: 0;
}
.header-denmark .swiper-slide h2{
padding-right: 30%;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: 500;
}
.header-denmark .swiper-pagination-bullet span{
font-weight: 500;
font-size: 15px;
color: #fff;
}
.section-title h2{
font-size: 42px;
}
.adventure-activities .section-desc{
font-size: 16px;
font-weight: 400;
}
.site-btn{
background:#659DBD
}
.site-btn:hover{
background:#fff;
color: #659DBD;
}
.tour-box-list .tour-content a:hover {
  background: #fff;
  border-color: #659DBD;
  color: #659DBD;
}
.tour-box a:hover{
  background: #fff;
  border-color: #659DBD;
  color: #659DBD;
}
.tour-box-list .tour-content .tag{
background: #659DBD;
}
.tour-box-list .tour-content .tag:before{
border-color: transparent transparent #659DBD transparent;
}
.tour-box-list .tour-content .tag:after{
border-color: transparent #659DBD transparent transparent
}
.find-adventure form button[type="submit"]:hover {
  background-color: #fff;
  color: #659DBD;
}
.find-adventure form button[type="submit"]{
background:#659DBD;
}
.read-more:hover{
color: #659DBD;
}
.adventure-activities .activities-carousel .activity-box figcaption:after{
background: #659DBD;
}
.reviews .review i{
color: #659DBD;
}
.preloader{
background: #659DBD;
}
.welcome-intro .odometer{
font-family: 'Montserrat', sans-serif!important;
}
.section-title p {
  font-weight: 400;
  font-size: 16px;
}
.reviews .review p {
  font-weight: 400;
  font-size: 16px;
}
.tour-box-list .tour-content p {
  font-weight: 400;
  font-size: 16px;
}
.popular-tours .section-desc{
  font-weight: 400;
  font-size: 16px;
}
.quote p{
font-weight: 500;
  font-size: 16px;
}
.vertical-content{
position: absolute;
margin-right: 0;
right: 0;
top: 0;
flex-direction: column;
background: hsla(0, 0%, 0%, 0.5);
text-align: center;
}
.pad-35{
padding-top: 35px;
padding-bottom: 35px;
}
.rel{
position: relative;
}
.vertical-content h4{
text-align: center;
font-size: 16px;
font-weight: 500;
color: #fff;
}
.vertical-content img{
text-align: center;
}
.col-right{
border-right: 1px solid #cdcdcd;
margin-bottom: 50px;
}
.footer h5{
margin-bottom: 15px;
}
.navbar .search-btn{
color: #fff;
}
/* .about .navbar .search-btn{
  color: #000;
} */
.page-title h2{
  font-size: 42px!important;
}
.our-history{
  padding: 40px 0!important;
}
.about-us-desc p{
  font-size: 16px;
  font-weight: 400;
}
.our-history .wrapper .content .inner p{
font-size: 16px;
font-weight: 400;
}
.our-history .wrapper .content .inner ul li{
font-size: 16px;
line-height: 30px;
}
.about-us-desc ul li{
font-size: 16px;
line-height: 30px;      
}
.our-history .wrapper .content{
padding: 16px 40px;
}
.mb-0{
  margin-bottom: 0!important;
}
.milestones{
padding: 40px 0!important;
}
.sticky .navbar-nav .nav-item .nav-link{
color: #fff!important;
}
.about .sticky .navbar .search-btn{
color: #fff!important;
}
.about-us-desc .section-title{
  margin-bottom: 25px;
}
.about .section-title{
  margin-bottom: 25px;
}
.milestones figure img{
  width: 70px!important;
  float: none;
}
.milestones figure{
border-radius: 50%;
line-height: 140px;
background: #fff;
width: 140px;
height: 140px;
text-align: center;
}
.welcome-intro figure img{
  width: 70px!important;
}
.milestones .odometer{
font-family: 'Montserrat', sans-serif!important;
}
.contact p {
line-height: 28px;
font-weight: 400;
font-size: 16px;
color: #393c3f;
margin-bottom: 10px;
}
.our-offices .office-box .office-content{
  padding: 30px 30px;
}
.our-offices{
  padding: 40px 40px;
}
.header-denmark .swiper-custom-pagination {
background: rgba(0,0,0,0.6);
}
.recent-blog .blog-post .post-content h3{
font-size: 21px;
}
.recent-blog .blog-post .post-content a:hover{
color: #659DBD;
}
.recent-blog .blog-post .post-content{
padding: 30px 15px;
}
.recent-blog .blog-post .post-content a{
display: block;
}
.about .navbar.dark .navbar-nav .nav-item .nav-link{
  color: #fff;
}
.contact_page .navbar.dark .navbar-nav .nav-item .nav-link{
  color: #fff;
}
@media screen and (min-width: 1025px){
.eighty{
  width: 80%;
}
.about-us-header{
    margin-top: 40px;
}
.about-us-header{
    padding: 100px 0 30px 0!important;
}
.about-us-desc{
    padding: 40px 0;
}
}
@media screen and (max-width: 1024px){
.d-none-small-d{
  display: none;
}
.header-denmark .swiper-slide h2{
  padding-right: 25%;
}
.eighty{
  width: 70%;
}
.welcome-intro .odometer{
  font-size: 18px;
}
.rel .read-more{
  margin-left: 0;
}
}
@media screen and (max-width: 768px){
.eighty{
  width: 100%;
}
.vertical-content{
  display: none;
}
}
@media screen and (max-width:767px) {
.site-btn{
  padding: 0 50px;
}
.section-title h2 {
  font-size: 25px;
}
.find-adventure h3{
  font-size: 25px;
}
}
@media screen and (min-width: 768px){
.navbar .navbar-nav .more .dropdown-menu{
  min-width: 347px;
  left: -290px;
}
.navbar .navbar-nav .more .dropdown-menu li{
  width: 50%;
}
.navbar .navbar-nav .more .dropdown-menu li a{
  padding-left: 15px;
}
.navbar .navbar-nav .more .dropdown-menu:before{
  right: 10px;
  left: unset;
}
}